<%= render partial: 'map', locals: {title: @selected_title} %>

<table class="table table-sm">
  <thead>
    <tr>
      <th>title</th>
      <th>latitude</th>
      <th>longitude</th>
      <th>altitude</th>
      <th>direction</th>
      <th>options</th>
    </tr>
  </thead>
  <tbody>
    <%= form_tag(search_path, method: 'post') do |f| %>
    <tr>
      <td><%= select_tag 'title', options_for_select(@titles, @selected_title), class: 'form-control' %></td>
      <td><%= submit_tag 'Display', class: 'btn' %></td>
    </tr>
    <% end %>
    <tr>
      <%= form_for @point do |f| %>
        <td><%= f.text_field :title, placeholder: '20180618.txt', class: 'form-control' %></td>
        <td><%= f.text_field :lat, placeholder: '53.9580', class: 'form-control' %></td>
        <td><%= f.text_field :lon, placeholder: '27.618', class: 'form-control' %></td>
        <td><%= f.text_field :altitude, class: 'form-control' %></td>
        <td><%= f.text_field :direction, class: 'form-control' %></td>
        <td><%= f.submit 'Create', class: 'btn' %></td>
      <% end %>
    </tr>
    <% @points.each do |point| %>
      <tr>
        <td><%= point.title %></td>
        <td><%= point.lat %></td>
        <td><%= point.lon %></td>
        <td><%= point.altitude %></td>
        <td><%= point.direction %></td>
        <td><%= link_to 'Delete', point_path(point), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
